@(productMealForm: Form[ProductMeal], meals: List[ProductMeal], d: String)

@import helper._
@import helper.twitterBootstrap._

@title = {
    Sign Up
}

@today = @{
    if(d == "") MealTime.getDate()
    else d
}


@main(title, nav = "signup") {

    @if(flash.containsKey("success")) {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success">
                    @flash.get("success")
                </div> 
            </div>
        </div>
    } 

    <div class="row margin-bottom-2">

        <div class="col-md-4">
            <form class="form-inline">
                <div class="form-group">
                    <input type="date" class="form-control" id="date" name="d" value="@today" onchange="form.submit()">
                    <button class="btn btn-default" id="searchsubmit" type="submit">Search</button>
                </div>
            </form>
        </div>

        <div class="col-md-offset-6 col-md-2">
            <a class="btn btn-success" id="add" href="@routes.ProductMeals.showAddForm(today)">Add a new product</a>
        </div>

    </div>
    
    @for(i <- 1 to 5) {
        @if(!ProductMeal.isEmptyMT(i, today, session.get("username"))) {
            <h2>@ProductMeal.getMealTimeName(i)</h2>
                <table class="table table-striped" id="meals-table">
                    <thead style="font-weight:bold">
                        <tr>
                            <th>Product name</th>
                            <th>Quantity</th>
                            <th>Calories</th>
                            <th>Carb</th>
                            <th>Fat</th>
                            <th>Protein</th>
                            <th>Sugar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(meal <- meals) {
                            @if(meal.mealTime == i && meal.date == today && meal.user == session.get("username")) {
                            <tr>
                                <td>@meal.product</td>
                                <td>@meal.mealWeight</td>
                                <td>@{Product.getProductByName(meal.product).caloriesPer100Grams * meal.mealWeight}</td>
                                <td>@{Product.getProductByName(meal.product).carbPer100Grams * meal.mealWeight}</td>
                                <td>@{Product.getProductByName(meal.product).fatPer100Grams * meal.mealWeight}</td>
                                <td>@{Product.getProductByName(meal.product).proteinPer100Grams * meal.mealWeight}</td>
                                <td>@{Product.getProductByName(meal.product).sugarPer100Grams * meal.mealWeight}</td>
                            </tr>
                            }
                        }
                            <tr>
                                <td style="font-weight: bold">Summary</td>
                                <td>-</td>
                                <td>@{ProductMeal.getSummary(i, today){0}}</td>
                                <td>@{ProductMeal.getSummary(i, today){1}}</td>
                                <td>@{ProductMeal.getSummary(i, today){2}}</td>
                                <td>@{ProductMeal.getSummary(i, today){3}}</td>
                                <td>@{ProductMeal.getSummary(i, today){4}}</td>
                            </tr>

                    </tbody>
                </table>
        }
    }
    
        

        
}

            