@(productMealForm: Form[ProductMeal], products: List[Product], d: String)

@import helper._
@import helper.twitterBootstrap._

@title = {
    Add new product 
}

@today = @{
    if(d == "") MealTime.getDate()
    else d
}

@main(title, nav = "newProduct") {

<datalist id="products">
    @for(product <- products) {
        <option value="@product.name"></option>
    }
</datalist>

<div class="row additional-space">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-default panel-heading"><h2>New meal</h2></div>
            <div class="panel-body">
                <div clas="container">
                    <div class="row">

                    @if(flash.contains("fail")) { 
                        <div class="col-md-12"> 
                            <div class="alert alert-danger">
                                @flash.get("fail")
                            </div>
                        </div>
                     }
                     </div>
                         
                     @helper.form(action = routes.ProductMeals.add) {
                     <div class="row"> 
                        <div class="col-md-12">
                            <div class="input-group input-group-lg margin-bottom-3">
                                <span class="input-group-addon">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                </span>
                                <select id="mealTime" class="form-control selectpicker" aria-describedby="basic-addon1" name="mealTime" placeholder="Meal Time">
                                    <option value="1">Breakfast</option>
                                    <option value="2">Brunch</option>
                                    <option value="3">Dinner</option>
                                    <option value="4">Tea</option>
                                    <option value="5">Supper</option>
                                </select>    
                            </div>
                        </div>
                    </div>

                     <div class="row"> 
                        <div class="col-md-6">
                            <div class="input-group input-group-lg margin-bottom-3">
                                <span class="input-group-addon">
                                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                                </span>
                                <input class="form-control" aria-describedby="basic-addon1" type="text" name="product" id="product" placeholder="Product name" list="products">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group input-group-lg margin-bottom-3">
                                <span class="input-group-addon">
                                    <i class="fa fa-balance-scale" aria-hidden="true"></i>
                                </span>
                                <input class="form-control" min="1" aria-describedby="basic-addon1" type="number" name="mealWeight" id="mealWeight" placeholder="Quantity">
                                <input type="hidden" value="@today" name="d">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn-block btn-lg btn btn-success">Add new meal</button>
            </div>
            }
         </div>
      </div>
  </div>
    

}
