@(productForm: Form[Product])

@import helper._
@import helper.twitterBootstrap._

@title = {
    Add new product 
}

@main(title, nav = "newProduct") {
    
<div class="row additional-space">
    <div class="col-md-offset-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-default panel-heading"><h2>New product</h2></div>
            <div class="panel-body">
                <div clas="container">
                    <div class="row">
                    
                     @helper.form(action = routes.Products.add) {             
                        <div class="col-md-12">
                            <div class="input-group input-group-lg margin-bottom-3">
                                <span class="input-group-addon">
                                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                                </span>
                                <input class="form-control" aria-describedby="basic-addon1" type="text" name="name" id="name" placeholder="Product name">
                            </div>

                            <div class="input-group input-group-lg margin-bottom-3">
                                <span class="input-group-addon">
                                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                </span>
                                <input class="form-control" min="0" max="100" aria-describedby="basic-addon1" type="number" name="caloriesPer100Grams" id="caloriesPer100Grams" placeholder="Calories per 100 grams">
                            </div>

                            <div class="input-group input-group-lg margin-bottom-3">
                                <span class="input-group-addon">
                                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                </span>
                                <input class="form-control" min="0" max="100" aria-describedby="basic-addon1" type="number" name="carbPer100Grams" id="carbPer100Grams" placeholder="Carbs per 100 grams">
                            </div>

                            <div class="input-group input-group-lg margin-bottom-3">
                                <span class="input-group-addon">
                                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                </span>
                                <input class="form-control" min="0" max="100" aria-describedby="basic-addon1" type="number" name="fatPer100Grams" id="fatPer100Grams" placeholder="Fats per 100 grams">
                            </div>

                            <div class="input-group input-group-lg margin-bottom-3">
                                <span class="input-group-addon">
                                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                </span>
                                <input class="form-control" min="0" max="100" aria-describedby="basic-addon1" type="number" name="proteinPer100Grams" id="proteinPer100Grams" placeholder="Proteins per 100 grams">
                            </div>

                            <div class="input-group input-group-lg margin-bottom-3">
                                <span class="input-group-addon">
                                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                </span>
                                <input class="form-control" min="0" max="100" aria-describedby="basic-addon1" type="number" name="sugarPer100Grams" id="sugarPer100Grams" placeholder="Sugar per 100 grams">
                            </div>

                        </div>
                    

                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn-block btn-lg btn btn-success">Add new product</button>
            </div>
            }
         </div>
      </div>
  </div>
    
}