@(currentPage: com.avaje.ebean.Page[Product], currentSortBy: String, currentOrder: String, currentFilter: String)

@link(newPage:Int, newSortBy:String) = @{

	var sortBy = currentSortBy
	var order = currentOrder

	if(newSortBy != null) {
		sortBy = newSortBy
		if(currentSortBy == newSortBy) {
			if(currentOrder == "asc") {
				order = "desc"
			} else {
				order = "asc"
			}
		} else {
			order = "asc"
		}
	}

	routes.Products.products(newPage, sortBy, order, currentFilter)
}


@import helper._
@import helper.twitterBootstrap._

@title = {
    Products
}

@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main(title, nav="Products") {

    <div id="actions">
        <form class="form-inline" action="@link(0, "name")" method="GET">
            <input class="form-control" type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by product name...">
            <input class="actions btn btn-success" type="submit" id="searchsubmit" value="Filter by name">
        </form>
    </div>

    @if(currentPage.getTotalRowCount == 0) { 
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="table table-striped">
            <thead style="font-weight:bold">
                <tr>
                    <th>Product name</th>
                    <th>Calories per 100 grams</th>
                    <th>Carb per 100 grams</th>
                    <th>Fat per 100 grams</th>
                    <th>Protein per 100 grams</th>
                    <th>Sugar per 100 grams</th>
                </tr>
            </thead>
            <tbody>

                @for(product <- currentPage.getList) {
                    <tr>
                        <td>@product.name</td>
                        <td>@product.caloriesPer100Grams</td>
                        <td>@product.carbPer100Grams</td>
                        <td>@product.fatPer100Grams</td>
                        <td>@product.proteinPer100Grams</td>
                        <td>@product.sugarPer100Grams</td>
                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to ", " of ")</a>
                </li>
                @if(currentPage.hasNext) {
                <li class="next">
                    <a href="@link(currentPage.getPageIndex + 1, null)">&larr; Next</a>
                </li>
                } else {
                <li class="next disabled">
                    <a>&larr; Next</a>
                </li>
                }
            </ul>
        </div>

    }
    <a class="pull-right actions btn btn-success" href="@routes.Products.showAddForm()">Add a new product</a>
}
