@(signupForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

@title = {
    Sign Up
}

@main(title, nav = "signup") {
    
@helper.form(action = routes.Signup.submit) {
 <div class="row additional-space">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-default panel-heading"><h2>New account</h2></div>
            <div class="panel-body">
                <div clas="container">
                    <div class="row">

                        @if(flash.contains("fail")) { 
                            <div class="col-md-12"> 
                                <div class="alert alert-danger">
                                    @flash.get("fail")
                            </div>
                            </div>
                         }
                    
                        <div class="col-md-6">
                            <div class="input-group input-group-lg margin-bottom-3">
                                <span class="input-group-addon">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                                <input class="form-control" aria-describedby="basic-addon1" type="text" name="username" id="username" placeholder="Username" required>
                            </div>

                            <div class="input-group input-group-lg margin-bottom-3">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </span>
                                <input class="form-control" aria-describedby="basic-addon1" type="email" name="email" id="email" placeholder="Email address" required>
                            </div>

                            <div class="input-group input-group-lg margin-bottom-3">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </span>
                                <input class="form-control" aria-describedby="basic-addon1" type="password" name="password" id="password" placeholder="Password (min. 6 characters)" required>
                            </div>

                            <div class="input-group input-group-lg margin-bottom-10">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </span>
                                <input class="form-control" aria-describedby="basic-addon1" type="password" name="repeatPassword" id="repeatPassword" placeholder="Repeat password" required>
                            </div>
                         </div>
                         
                         <div class="col-md-6">
                            <div class="input-group input-group-lg margin-bottom-3">
                                <span class="input-group-addon">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                                <input class="form-control" aria-describedby="basic-addon1" type="text" name="name" id="name" placeholder="Your name" required>
                            </div>

                            <div class="input-group input-group-lg margin-bottom-3">
                                <span class="input-group-addon">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                                <input class="form-control" aria-describedby="basic-addon1" type="text" name="surname" id="surname" placeholder="Your surname" required>
                            </div>

                            <div class="input-group input-group-lg margin-bottom-3">
                                <span class="input-group-addon">
                                    <i class="fa fa-venus-mars" aria-hidden="true"></i>
                                </span>
                                <select name="gender" class="form-control" aria-describedby="basic-addon1" id="gender" required>
                                    <option value="" disabled selected hidden>Gender</option>
                                    <option value="1">Male</option>
                                    <option value="0">Female</option>
                                </select>
                            </div>

                            <div class="input-group input-group-lg margin-bottom-3">
                                <span class="input-group-addon">
                                    <i class="fa fa-balance-scale" aria-hidden="true"></i>
                                </span>
                                <input class="form-control" aria-describedby="basic-addon1" type="number" min="0" max="200" name="weight" id="weight" placeholder="Weight">
                            </div> 
                            
                            <div class="input-group input-group-lg margin-bottom-3">
                                <span class="input-group-addon">
                                    <i class="fa fa-balance-scale" aria-hidden="true"></i>
                                </span>
                                <input class="form-control" aria-describedby="basic-addon1" type="number" min="0" max="250" name="height" id="height" placeholder="Height">
                            </div>

                            <div class="input-group input-group-lg margin-bottom-3">
                                <span class="input-group-addon">
                                    <i class="fa fa-balance-scale" aria-hidden="true"></i>
                                </span>
                                <input class="form-control" aria-describedby="basic-addon1" type="number" min="10" max="100" name="age" id="age" placeholder="Age">
                            </div>                                                                                                                                        

                        </div>
                    

                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn-block btn-lg btn btn-success">Create new account</button>
            </div>
         </div>
      </div>
  </div>
    
}
}