@(user: User)

@main(Html("Account created!"), nav = "wizard") {
    
    <h2>Your account:</h2>
    
    <h6>Username</h6>
    
    <p>
        @user.username
    </p>
    
    <h6>Email</h6>
    
    <p>
        @user.email
    </p>
    
    <h2>Oher informations:</h2>
    
    <h6>Name</h6>
    
    <p>
        @user.name
        @user.surname
    </p>
    
    <h6>Gender</h6>
    
    @if(user.gender){
        <p>male</p>
    } else{
        <p>female</p>
    }
    
    
    <h6>Weight</h6>
    
    <p>
        @user.weight kg
    </p>
    
    <h6>Height</h6>
    
    <p>
        @user.height cm
    </p>
    
    <h6>Age</h6>
    
    <p>
        @user.age
    </p>
    
}